* {
    box-sizing: border-box;
  }
  
  .board {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    /* background-color: white; */
    
  }
  .spreadboard {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: transparent;
    /* cursor: move; */
    cursor: none;
  }

  .item {
    /* width: 100px;
    height: 100px; */
    position: absolute;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    /* z-index: 100000; */
    pointer-events:visible;
  }
  
  .resizer {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: black;
    z-index: 2;
  }
  
  .resizer.nw {
    top: -1px;
    left: -1px;
    cursor: nw-resize;
  }
  .resizer.ne{
    top: -1px;
    right: -1px;
    cursor: ne-resize;
  }
  .resizer.sw{
    bottom: -1px;
    left: -1px;
    cursor: sw-resize;
  }
  .resizer.se{
    bottom: -1px;
    right: -1px;
    cursor: se-resize;
  }