
*,:after,:before{box-sizing:border-box}	
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}
.login-container {
	width: 100vw;
	height: 100vh;
	position:relative;
	background: url("../../images/bora-bora-685303_1920.jpg");
	display:flex;
	justify-content: space-evenly;
	align-items: center;
}
.login-wrap{
	/* top: 50%; */
	/* transform:translateY(-50%); */
	width:50%;
	height: 60%;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url("../../images/bora-bora-685303_1920.jpg") no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0, 0, 0, 0.103),0 17px 50px 0 rgba(48, 46, 46, 0.925);
	/* right: 10px; */
}
.login-wrap:hover {
	background-color: rgba(30 38 46 / 58%);
}

.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background-color: rgba(30 38 46 / 88%);
	/* left: 10px; */
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
	cursor:pointer;
}
.login-form .group input[data-type="password"]{
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}

.error-text {
	color: rgb(218, 71, 71);
	margin-top: 10px;
	font-style: italic;
}

.about-wrap {
	width: 50%;
	color: white;
	text-align: center;
	box-shadow:0 12px 15px 0 rgba(0, 0, 0, 0.103),0 17px 50px 0 rgba(48, 46, 46, 0.925);
}

.about-wrap:hover {
	background-color: rgba(30 38 46 / 58%);
}

.about-html {
	width:100%;
	padding:90px 70px 50px 70px;
	background-color: rgba(30 38 46 / 88%);
}

.about-title #abouttlt {
	font-size: 2rem;
	margin: 40px 0;
	line-height: 100%;
}

.about-title #descriptiontlt{
	/* display:table-cell; */
    vertical-align:middle;
    text-align:center;
	font-size: 1rem;
	line-height: 30px;
}
#descriptiontlt img {
	width: 60%;
	margin-top:10px;
}

.about-title #about-btn{
	font-family: IBM Plex Sans,sans-serif;
    font-size: 1rem;
	margin-top: 20px;
}

#about-btn button {
	border: 2px solid #ffe42f;
	border-radius: 15px;
	color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 1px;
    display: inline-block;
    position: relative;
    transition: all .3s ease;
	background-color: rgba(0, 0, 0, 0.103)
}

#about-btn button:hover,
#about-btn button:focus {
	color: black;
    z-index: 1;
}

#about-btn button::after {
	content: "";
    position: absolute;
    height: 101%;
    bottom: 0%;
    width: 30%;
    background: #ffe42f;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .3s ease;
	border-radius: 13px;
}

#about-btn button:hover:after, #about-btn button:focus:after {
	width: 101%;
    z-index: -1;
    opacity: 1;	
}

@media screen and (max-width: 1000px) {
    .login-container {
		flex-direction: column;
		justify-content:space-around;
		height: 100%;
		row-gap: 20px;
		padding: 40px 0px;
	}
	#descriptiontlt img {
		width: 80%;
		margin-top:10px;
	}

	.login-wrap {
		width:90%;
	}
	.about-wrap {
		width:90%;
	}
}
